# Chapter 22: Python Data Science Libraries

In [41]:
GMAT = [550, 640, 710, 590, 560, 585, 720, 660, 600, 610,
        570, 580, 630, 690, 675]

In [42]:
num = 0
for score in GMAT:
    if score > 650:
        num += 1
print("the number of students who scored above 650 is", num)

the number of students who scored above 650 is 5

In [43]:
import numpy as np #1

GMAT = [550, 640, 710, 590, 560, 585, 720, 660, 600, 610,
        570, 580, 630, 690, 675] #2
GMAT_arr = np.array(GMAT) #3
print((GMAT_arr>650).sum()) #4

5

In [44]:
GPA = [3.0, 3.12, 3.14, 3.56, 3.33, 3.10, 3.78, 3.94, 4.0,
        3.66, 3.45, 3.88, 3.92, 3.03, 3.22] #1
GMAT_GPA = GMAT + GPA #2
GMAT_GPA_arr = np.array(GMAT_GPA)
print(GMAT_GPA_arr.size) #3
print(GMAT_GPA_arr.shape)

GMAT_GPA_arr=GMAT_GPA_arr.reshape((2,15)) #4
print(GMAT_GPA_arr)
print(GMAT_GPA_arr.shape)

30
(30,)
[[550.   640.   710.   590.   560.   585.   720.   660.   600.   610.
  570.   580.   630.   690.   675.  ]
 [  3.     3.12   3.14   3.56   3.33   3.1    3.78   3.94   4.     3.66
    3.45   3.88   3.92   3.03   3.22]]
(2, 15)

In [45]:
print(GMAT_arr[4])

560

In [46]:
print(GMAT_GPA_arr[1,9])

3.66

In [47]:
print("the GMAT scores of the first two students are", GMAT_GPA_arr[0, 0:2])
print("the GPAs of the last three students are", GMAT_GPA_arr[1, -3:])
print("the GMAT score and GPA of the sixth student are", GMAT_GPA_arr[:, 5])

the GMAT scores of the first two students are [550. 640.]
the GPAs of the last three students are [3.92 3.03 3.22]
the GMAT score and GPA of the sixth student are [585.    3.1]

In [49]:
print("the average GMAT score of all students is", GMAT_GPA_arr[0, :].mean())
print("the average GPA of all students is", GMAT_GPA_arr[1, :].mean())

the average GMAT score of all students is 624.6666666666666
the average GPA of all students is 3.4753333333333334

In [50]:
print("the sum of GMAT score of all students is", GMAT_GPA_arr[0, :].sum())
print("the lowest GMAT score of all students is", GMAT_GPA_arr[0, :].min())
print("the highest GPA of all students is", GMAT_GPA_arr[1, :].max())

the sum of GMAT score of all students is 9370.0
the lowest GMAT score of all students is 550.0
the highest GPA of all students is 4.0

In [51]:
print("the index of the lowest GMAT score is", GMAT_GPA_arr[0, :].argmin())
print("the index of the highest GPA is", GMAT_GPA_arr[1, :].argmax())

the index of the lowest GMAT score is 0
the index of the highest GPA is 8

In [52]:
print("the 5th percentile value of GMAT scores is", np.percentile(GMAT_GPA_arr[0, :], 5))
print("the median value of GMAT scores is", np.percentile(GMAT_GPA_arr[0, :], 50))
print("the median value of GPAs is", np.percentile(GMAT_GPA_arr[1, :], 50))
print("the 90th percentile value of GPSs is", np.percentile(GMAT_GPA_arr[1, :], 90))

the 5th percentile value of GMAT scores is 557.0
the median value of GMAT scores is 610.0
the median value of GPAs is 3.45
the 90th percentile value of GPSs is 3.932

In [53]:
mask1 = (GMAT_GPA_arr[0, :]<=600)
mask2 = (GMAT_GPA_arr[1, :]==4.0)
print(mask1)
print(mask2)
print("number of GMAT scores below or equal to 600 is", mask1.sum())
print("number of 4.0 GPA is", mask2.sum())

[ True False False  True  True  True False False  True False  True  True
 False False False]
[False False False False False False False False  True False False False
 False False False]
number of GMAT scores below or equal to 600 is 7
number of 4.0 GPA is 1

In [54]:
import pandas as pd

names = ["James Smith","Michael Smith","Maria Garcia","David Smith",
         "Maria Rodriguez","Mary Smith","Maria Hernandez","Maria Martinez",
         "James Johnson","Mary Liu","Gloria Zhang","Raj Gupta","Anna Ivanov",
         "Ali Sayed","Lakisha Jones"]

GMAT = [550, 640, 710, 590, 560, 585, 720, 660, 600, 610,
        570, 580, 630, 690, 675]

GMAT_series = pd.Series(data=GMAT, index=names)
print(GMAT_series)

James Smith        550
Michael Smith      640
Maria Garcia       710
David Smith        590
Maria Rodriguez    560
Mary Smith         585
Maria Hernandez    720
Maria Martinez     660
James Johnson      600
Mary Liu           610
Gloria Zhang       570
Raj Gupta          580
Anna Ivanov        630
Ali Sayed          690
Lakisha Jones      675
dtype: int64

In [55]:
print ("the GMAT score of David Smith is", GMAT_series["David Smith"])
print("the GMAT score of Anna Ivanov is", GMAT_series["Anna Ivanov"])

the GMAT score of David Smith is 590
the GMAT score of Anna Ivanov is 630

In [56]:
GPA = [3.0, 3.12, 3.14, 3.56, 3.33, 3.10, 3.78, 3.94, 4.0,
        3.66, 3.45, 3.88, 3.92, 3.03, 3.22]

dataset = {"GMAT_score":GMAT, "GPAs":GPA}

df = pd.DataFrame(data=dataset, index=names)
print(df)

                 GMAT_score  GPAs
James Smith             550  3.00
Michael Smith           640  3.12
Maria Garcia            710  3.14
David Smith             590  3.56
Maria Rodriguez         560  3.33
Mary Smith              585  3.10
Maria Hernandez         720  3.78
Maria Martinez          660  3.94
James Johnson           600  4.00
Mary Liu                610  3.66
Gloria Zhang            570  3.45
Raj Gupta               580  3.88
Anna Ivanov             630  3.92
Ali Sayed               690  3.03
Lakisha Jones           675  3.22

In [57]:
print(df["GMAT_score"])
print("the GMAT score of Maria Garcia is", df["GMAT_score"]["Maria Garcia"])

James Smith        550
Michael Smith      640
Maria Garcia       710
David Smith        590
Maria Rodriguez    560
Mary Smith         585
Maria Hernandez    720
Maria Martinez     660
James Johnson      600
Mary Liu           610
Gloria Zhang       570
Raj Gupta          580
Anna Ivanov        630
Ali Sayed          690
Lakisha Jones      675
Name: GMAT_score, dtype: int64
the GMAT score of Maria Garcia is 710

In [58]:
print("the GPA of Ali Sayed is", df.at["Ali Sayed","GPAs"])

the GPA of Ali Sayed is 3.03

In [59]:
print("the GMAT score and GPA of Gloria Zhang is\n", df.loc["Gloria Zhang"])

the GMAT score and GPA of Gloria Zhang is
 GMAT_score    570.00
GPAs            3.45
Name: Gloria Zhang, dtype: float64