# Chapter 22: Strings, Lists, Dictionaries, and Tuples


Python employs strings, lists, dictionaries, and tuples as collections of elements to perform various tasks. In this chapter, you will explore each of these four types of collections individually, along with examples of their practical uses.

Chapter Objectives

1. Understand string indexing, slicing, and various string methods
2. Learn how to create and manipulate lists
3. Create and utilize Python dictionaries
4. Create and use tuples, and understand their unique features

In [1]:
letters = "abcde"
print(letters[2])

c

In [2]:
print(letters[-2])

d

In [3]:
letters = "abcde"
print(letters[0:3])

abc

In [4]:
original = "Financial Risk Management"
new_str = original.replace(' ', '+')
print(new_str)

Financial+Risk+Management

In [5]:
original = "Financial Risk Management"
new_str = "financial risk management"
print(original.lower() == new_str.lower())

True

In [6]:
email = "Maria.Garcia@uc.edu"
index1 = email.find(".")     # 
print(index1)
index2=email.find("@")     #
print(index2)
last_name=email[(1+index1):index2]   
print(last_name)

5
12
Garcia

In [7]:
email = "Maria.Garcia@uc.edu"
idx = email.find("uc.edu")
print(idx)

13

In [8]:
msg="Financial Risk Management"
words=msg.split()
print(words)

['Financial', 'Risk', 'Management']

In [9]:
email="Maria.Garcia@uc.edu"
names=email.split("@") #
print(names)
firstlast=names[0].split(".")  # 
print("the first name is", firstlast[0])  #

['Maria.Garcia', 'uc.edu']
the first name is Maria

In [10]:
link = (' ')  #
words = ['Financial', 'Risk ', 'Management']  #
a_str = link.join(words)  #
print(a_str)

Financial Risk  Management

In [11]:
lst = [2, "b", 3.45]

In [12]:
lst_1=[]

In [13]:
lst_2=list()

In [14]:
lst=[2, "b", 3.45]
print(lst[2])

3.45

In [15]:
for i in range(len(lst)): print(lst[i])

2
b
3.45

In [16]:
for i in range(len(lst)): 
    print(lst[i])

2
b
3.45

In [17]:
lst=[2, "b", 3.45]
print(lst + lst)
print(lst * 3)

[2, 'b', 3.45, 2, 'b', 3.45]
[2, 'b', 3.45, 2, 'b', 3.45, 2, 'b', 3.45]

In [18]:
names=['Eve','Jimmy','Sarah']

In [19]:
for idx, name in enumerate(names): 
    print(idx, name)

0 Eve
1 Jimmy
2 Sarah

In [20]:
names=['Eve','Jimmy','Sarah']
for idx, name in enumerate(names, start=1): 
    print(idx, name)

1 Eve
2 Jimmy
3 Sarah

In [21]:
lst=[2, "b", 3.45]
lst.append("hi") # 
print(lst)

[2, 'b', 3.45, 'hi']

In [22]:
lst=[2, "b", 3.45]
lst + [5, 10]

[2, 'b', 3.45, 5, 10]

In [23]:
lst=[2, "b", 3.45]
lst.remove("b") 
print(lst)

[2, 3.45]

In [24]:
lst=[2, "b", 3.45]
print(lst.index("b"))

1

In [25]:
lst=[2, "b", "hi", 2, 2]
print(lst.count(2))
print(lst.count("b"))

3
1

In [26]:
lst=[6, 9, 4, -11]
lst.sort()
print(lst)
lst.sort(reverse=True)
print(lst)

[-11, 4, 6, 9]
[9, 6, 4, -11]

In [27]:
lst=["b", "hi", "20", "-100"]
lst.sort()
print(lst)

['-100', '20', 'b', 'hi']

In [28]:
lst=[55, 4, 1, 19, -10]
print("the range of the numbers is", max(lst)-min(lst))
print("the mean of the numbers is", sum(lst)/len(lst))

the range of the numbers is 65
the mean of the numbers is 13.8

In [29]:
msg="finance"
letters=list(msg)
print(letters)

['f', 'i', 'n', 'a', 'n', 'c', 'e']

In [30]:
scores = {'home':22, 'guest':25}

In [31]:
dictionary1=dict()
dictionary2={}

In [32]:
dictionary3={}
dictionary3['quantity'] = 100
print(dictionary3)

{'quantity': 100}

In [33]:
print(scores['home'])
print(scores['guest'])

22
25

In [34]:
scores = {'home':22, 'guest':25}
print(scores.get('blue'))
print(scores.get('blue',0))

None
0

In [35]:
scores = {'home':22, 'guest':25}
team_names=list(scores.keys())
print(team_names)

['home', 'guest']

In [36]:
team_scores=list(scores.values())
print(team_scores)

[22, 25]

In [37]:
print(list(scores.items()))

[('home', 22), ('guest', 25)]

In [38]:
words={1:"one",2:"two",3:"three"}
numerals={v:k for k, v in words.items()}

In [39]:
print(numerals)

{'one': 1, 'two': 2, 'three': 3}

In [40]:
words_and_numerals={**words, **numerals}

In [41]:
print(words_and_numerals)

{1: 'one', 2: 'two', 3: 'three', 'one': 1, 'two': 2, 'three': 3}

In [42]:
tpl=(3, 6, 9)
tpl.append(1)
print(tpl)

AttributeError: 'tuple' object has no attribute 'append'

In [43]:
tuple_=(3,6,9,4,8)
print(tuple_[2])
print(tuple_[1:4])

9
(6, 9, 4)

In [44]:
lst=[(11,2),(13,9),(10,7),(11,0)]
lst.sort()
print(lst)

[(10, 7), (11, 0), (11, 2), (13, 9)]